<ion-content>
    <div class="header">
        <div>Профиль</div>
    </div>
    <div class="profile-img w">
        <img [src]="avatar">
        <div class="photo-icon"></div>
    </div>
    <div class="profile-ul w">
        <ul>
            <li>
                <a class="active"></a>
            </li>
            <li>
                <a [hidden]=hidden.index [ngClass]="(hidden.index === true) ? 'active' : ''" (click)="showItem('user')">Личные данные</a>
                <div [hidden]=hidden.user>
                    <div class="form aa-form w">
                        <div class="sofi">
                            <div class="text">Имя</div>
                            <input type="text" placeholder="" value="{{ user.LastName }}"></div>
                        <div class="sofi">
                            <div class="text">Фамилия</div>
                            <input type="text" placeholder="" value="{{ user.Name }}"></div>
                    </div>
                </div>
            </li>
            <li>
                <a [hidden]=hidden.index [ngClass]="(hidden.index === true) ? 'active' : ''" (click)="showItem('overdue')">Текущие заявки</a>
                <div [hidden]=hidden.overdue>
                    <div class="anm w">
                        <div class="item item1" *ngFor="let item of items">
                            <div class="left" (click)="openDetail(item)">
                                <div class="t1">{{ item.Malfunctions }}</div>
                                <div class="t2">{{ item.Address }}</div>
                                <div class="t3"><i class="alarm"></i>
                                    <div><b>{{ item.RecommendDate }}</b> до рекомендуемого срока</div>
                                </div>
                                <div class="icons">
                                    <div class="icon i1"></div>
                                    <div class="icon i2"></div>
                                    <div class="icon i3"></div>
                                    <div class="icon i4"></div>
                                </div>
                            </div>
                            <div class="right" (click)="schedulerModal(item.ID)">
                                <div class="number">№ {{ item.ID }}</div>
                                <div class="icon i1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a [hidden]=hidden.index [ngClass]="(hidden.index === true) ? 'active' : ''" (click)="showItem('remains')">баланс оборудования</a>
                <div  [hidden]=hidden.remains>
                    <div class="eq1 w">
                        <div class="w" *ngFor="let remain of remains">
                            <div>{{ remain.Nomenclature }}</div>
                            <div>{{ remain.Amount }} шт.</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a [hidden]=hidden.index [ngClass]="(hidden.index === true) ? 'active' : ''" (click)="showItem('equip')">Оборудование в заказе</a>
                <div  [hidden]=hidden.equip>
                    <div class="eq-title"> Доставка 10.04.17, track code 93833</div>
                    <div class="eq1 w">
                        <div class="w">
                            <div>Кронштейн</div>
                            <div>2 шт.</div>
                        </div>
                        <div class="w">
                            <div>Болт</div>
                            <div>150 шт.</div>
                        </div>
                        <div class="w">
                            <div>Гайка</div>
                            <div>200 шт.</div>
                        </div>
                        <div class="w">
                            <div>Шайба</div>
                            <div>175 шт.</div>
                        </div>
                    </div>
                    <div class="eq-title"> Доставка 10.04.17, track code 93833</div>
                    <div class="eq1 w">
                        <div class="w">
                            <div>Кабель</div>
                            <div>50 метров</div>
                        </div>
                        <div class="w">
                            <div>Доводчик</div>
                            <div>13 шт.</div>
                        </div>
                        <div class="w">
                            <div>Домофонная трубка</div>
                            <div>5 шт.</div>
                        </div>
                        <div class="w">
                            <div>Домофон</div>
                            <div>2 шт.</div>
                        </div>
                    </div>
                    <div class="add-button"></div>
                </div>
            </li>
        </ul>

        <div class="hidden2">
            <div class="form aa-form w">
                <div class="sofi">
                    <div class="text">Адрес доставки</div>
                    <input type="text" placeholder="Введите адрес доставки" value=""></div>
            </div>
            <div class="add-eq w">
                <div class="w">
                    <div class="select">
                        <select>
                            <option>Болт</option>
                            <option>Гайка</option>
                            <option>Шайба</option>
                            <option>Кронштейн</option>
                        </select>
                    </div>
                    <div class="number-plus-minus">
                        <input value="2" type="number"/></div>
                </div>
                <div class="w">
                    <div class="select">
                        <select>
                            <option>Кронштейн</option>
                            <option>Болт</option>
                            <option>Гайка</option>
                            <option>Шайба</option>
                        </select>
                    </div>
                    <div class="number-plus-minus">
                        <input value="2" type="number"/></div>
                </div>
                <div class="w">
                    <div class="select">
                        <select>
                            <option>Шайба</option>
                            <option>Кронштейн</option>
                            <option>Болт</option>
                            <option>Гайка</option>
                        </select>
                    </div>
                    <div class="number-plus-minus">
                        <input value="2" type="number"/></div>
                </div>
                <div class="w">
                    <div class="select">
                        <select>
                            <option>Кронштейн</option>
                            <option>Болт</option>
                            <option>Гайка</option>
                            <option>Шайба</option>
                        </select>
                    </div>
                    <div class="number-plus-minus">
                        <input value="2" type="number"/></div>
                </div>
                <div class="w">
                    <div class="select">
                        <select>
                            <option></option>
                        </select>
                    </div>
                    <div class="number-plus-minus">
                        <input value="" type="number"/></div>
                </div>
                <div class="w">
                    <div class="select">
                        <select>
                            <option></option>
                        </select>
                    </div>
                    <div class="number-plus-minus">
                        <input value="" type="number"/></div>
                </div>
            </div>
            <div class="answer">
                <input type="text" placeholder="Введите нестандатное оборудование">
                <div class="send"></div>
            </div>
            <button class="button w" href="#">заказать</button>
        </div>
    </div>
    <div class="aa6">
        <a class="button1" [hidden]=!hidden.index (click)="showItem('index')"></a>
    </div>
    <footer class="footer f2 w">
        <div class="item active">
            <div class="icon i1"></div>
            <div class="text">Профиль</div>
        </div>
        <div class="item" ion-item (click)="openPage('SchedulerPage')">
            <div class="icon i4"></div>
            <div class="text">планировщик</div>
        </div>
        <div class="item" ion-item (click)="openPage('MapPage')">
            <div class="icon i2"></div>
            <div class="text">Карта</div>
        </div>
        <div class="item" ion-item (click)="openPage('MainPage')">
            <div class="icon i3"></div>
            <div class="text">Teledom</div>
        </div>
    </footer>
</ion-content>