<ion-header>

    <ion-navbar>
        <ion-title>Что вы использовали для ремонта?</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="popup pop3" id="pop3">
        <div class="w" *ngFor="let select of select_count">
            <div class="select">
                <select>
                    <option value="0">Выберите деталь</option>
                    <option *ngFor="let remain of remains">{{ remain.Nomenclature }}</option>
                </select>
            </div>
            <div class="number-plus-minus">
                <input value="0" type="number" />
            </div>
        </div>
    </div>
</ion-content>
