<ion-content>
    <div class="header">
        <div>Планировщик</div>
    </div>
    <div class="anm-time w">
        <a class="button active" href="#">19.10</a>
        <a class="button" href="#">20.10</a>
        <a class="button" href="#">21.10</a>
    </div>
    <div class="plan w">
        <div class="item  busy" *ngFor="let task of tasks" (click)="showItem(task.RequestID)">
            {{ task.BeginDate }} - {{ task.EndDate }} {{ task.Malfunctions }}
        </div>
    </div>
    <div class="anm w">

        <div class="item item1" *ngFor="let task of tasks" [hidden]=task.hide >
            <div class="left">
                <div class="t1">{{ task.RequestComments }}</div>
                <div class="t2">address</div>
                <div class="t3"> <i class="alarm"></i>
                    <div><b>00:35:15</b> до рекомендуемого срока</div>
                </div>
                <div class="icons">
                    <div class="icon i1"></div>
                    <div class="icon i2"></div>
                    <div class="icon i3"></div>
                    <div class="icon i4"></div>
                </div>
            </div>
            <div class="right">
                <div class="number">№ {{ task.RequestID }}</div>
                <div class="icon i1"></div>
            </div>
        </div>

    </div>
    <footer class="footer f2 w">
        <div class="item" (click)="openPage('ProfilePage')">
            <div class="icon i1"></div>
            <div class="text">Профиль</div>
        </div>
        <div class="item active">
            <div class="icon i4"></div>
            <div class="text">планировщик</div>
        </div>
        <div class="item" (click)="openMap(items)">
            <div class="icon i2"></div>
            <div class="text">Карта</div>
        </div>
        <div class="item" (click)="openPage('MainPage')">
            <div class="icon i3"></div>
            <div class="text">Teledom</div>
        </div>
    </footer>
</ion-content>